:root {
    --primary: #f59e0b;
    --primary-dark: #d97706;

    --bg: #f9fafb;
    --white: #ffffff;

    --text: #111827;
    --text-light: #6b7280;

    --border: #e5e7eb;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CONTAINER */
.admin-container {
    display: flex;
    height: 100vh;
    background: var(--bg);
}

/* SIDEBAR */
.sidebar {
    width: 240px;
    background: var(--white);
    border-right: 1px solid var(--border);
    padding: 20px 12px;
    display: flex;
    flex-direction: column;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 24px;
    color: var(--primary);
    font-size: 20px;
}

/* LINKS */
.sidebar a {
    text-decoration: none;
    color: var(--text);
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s;
    font-size: 14px;
}

/* HOVER */
.sidebar a:hover {
    background: rgba(245, 158, 11, 0.1);
    color: var(--primary);
}

/* ATIVO (IMPORTANTE) */
.sidebar a.active {
    background: rgba(245, 158, 11, 0.15);
    color: var(--primary);
    font-weight: 500;
}

/* MENU */
.menu-item {
    display: flex;
    flex-direction: column;
}

/* TITLE */
.menu-title {
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    transition: 0.2s;
    font-size: 14px;
}

.menu-title:hover {
    background: rgba(245, 158, 11, 0.1);
    color: var(--primary);
}

/* SUBMENU */
.submenu {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 6px;
    gap: 4px;
}

.submenu a {
    font-size: 13px;
    color: var(--text-light);
}

/* MAIN */
.admin-main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* HEADER */
.admin-header {
    height: 70px;
    background: var(--white);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.header-left h3 {
    color: var(--text);
    font-size: 16px;
}

/* HEADER RIGHT */
.header-right {
    display: flex;
    align-items: center;
    gap: 12px;
}

/* BOTÃO LOGOUT */
.logout-btn {
    border: 1px solid var(--primary);
    background: transparent;
    color: var(--primary);
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 13px;
}

.logout-btn:hover {
    background: var(--primary);
    color: white;
}



/* RESPONSIVO */
@media (max-width: 900px) {
    .sidebar {
        width: 200px;
    }
}

@media (max-width: 700px) {
    .sidebar {
        display: none;
    }

    .admin-container {
        flex-direction: column;
    }
}